.fullScreen {
  color: white;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1c5739;
  padding: 20px;
}
.information,
.order {
  display: flex;
  flex-direction: column;
}

.infoItem,
.orderItems {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoItem img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.orderItems {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #54836b;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.orderItems img {
  width: 70px; 
  height: 70px; 
  margin-right: 10px; 
}

.orderDetails {
  display: flex;
}

.orderDetails span {
  margin-right: 20px;
}

.orderTotal {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px ;
}

.orderTotal span:last-child {
    margin-left: auto; 
    margin-right: 20px;
}

.statusBoxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.statusBox {
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.statusBox.active {
    background-color: #9e8959; /* Change color for active status */
    text-decoration: underline;
}
