.fullScreen {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    background-color: #1C5739;
  }
  
  .container {
    text-align: center;
  }
  
  .bg-brown-button {
    background-color: #AC874E;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: inline-block; /* Ensure buttons are inline */
    margin-bottom: 10px; /* Add margin between buttons */
  }
  
  .bg-brown-button:disabled {
    cursor: not-allowed;
    background-color: rgba(172, 135, 78, 0.5); /* Use rgba for opacity */
  }